*
*/
!.gitignore
!parameters_Discretization_test_cif.dat!parameters_ICBacteria_test_cif.dat!parameters_Domain_test_cif.dat!parameters_Output_test_cif.dat!parameters_Output_test_ring.dat!parameters_Discretization_test_ring.dat!parameters_Output_test_rectangle.dat!parameters_ICBacteria_test_rectangle.dat!parameters_ICBacteria_test_ring.dat!parameters_Bacteria_test_cif.dat!parameters_Bacteria_test_rectangle.dat!parameters_Bacteria_test_ring.dat!parameters_Domain_test_rectangle.dat!parameters_Domain_test_ring.dat!parameters_ICEulerianFields_test_cif.dat!parameters_ICEulerianFields_test_rectangle.dat!parameters_ICEulerianFields_test_ring.dat!parameters_EulerianFields_test_cif.dat!parameters_EulerianFields_test_rectangle.dat!parameters_EulerianFields_test_ring.dat!parameters_Discretization_test_rectangle.dat
